body {
    margin: 0;
    font-family: montserrat, calibri;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    padding: 60px 20px;
    font-weight: 300;
    background-color: #FAFAFA;
    box-sizing: border-box;
}

.main-picture-wrap {
    margin: 0px 55px 40px 55px;
}

.toppicture {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-weight: 500;
    color: #000000;
}

h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 500;
}

hr {
    width: 60px;
    border: 0;
    border-bottom: 2px solid #407BFF;
    margin: 0px auto;
}

.maintitle {
    margin-bottom: 30px;
}


.button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 0px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}

.button-blue {
    background-color: #407BFF;
}

.button-blue:hover {
    background-color: #2b5abe;
}

.button-grey {
    background-color: #8B8B8B;
}

.button-grey:hover {
    background-color: #636262;
}

.button + .button {
    margin-top: 10px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.text-section {
    margin: 30px auto;
}


/* BOX SECTION */

.box-section {
    display: flex;
    flex-direction: column;
}

.box {
    height: calc((100% / 3) - 20px);
    background-color: #FFFFFF;
    border: 0px;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
}

.box + .box {
    margin-top: 10px;
}

.box-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
}

.icon {
    display: inline-block;
    height: 40px
}

.box-text {
    width: calc(100% - 70px);
    text-align: start;
}

.content-section + .content-section {
    margin-top: 60px;
}




@media screen and (min-width: 640px) {

    .main-picture-wrap {
        margin: 0px 160px 30px 160px;
    }

    .text-section {
        margin: 40px 90px;
    }

    .top-page .text-section {
        margin: 30px 90px;
    }
    
    

    .button + .button {
        margin-top: 0;
        margin-left: 20px;
    }

    .button-wrap {
        flex-direction: row;
        justify-content: center;
    }

    .bottom-button-margin {
        margin: 0;
    }

    .box-section {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .box {
        width: calc((100% - 40px) / 3);
        height: auto;
    }

    .box + .box {
        margin: 0;
    }

    .box-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 15px;
    }

    .box-text {
        text-align: center;
        width: 100%;
    } 

    .box-text p {
        margin: 0;
    }

  


    .icon {
        margin-bottom: 20px;
    }

    .content-section + .content-section {
        margin-top: 80px;
    }

}




@media screen and (min-width: 1100px) {

body {
    max-width: 1040px;
    margin: auto;
    text-align: start;
    padding: 60px 0;
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pc-top-left {
    order: 1;
    width: calc(50% - 60px);    
}

.pc-top-right {
    order: 2;
    width: calc(50% - 60px);
}

.main-picture-wrap {
    max-width: 425px;
    margin: 0;
}

hr {
    margin: 0;
}

.top-page .text-section,
.text-section {
    margin: 30px 0;
}

.mid-section {
    display: flex;
    justify-content: space-between;
}

.text-right {
    order: 2;
    max-width: 430px;
}

.box-left {
    order: 1;
}

.box-section {
    max-width: 550px;
}


.last-section {
    display: flex;
    justify-content: space-between;
}

.box-right {
    order: 2;
}

.text-left {
    order: 1;
    max-width: 430px;
}

.box-content {
    padding: 40px 15px;
}


}

